.weather{
    background-image: linear-gradient(45deg, #4773e5, #500ae4);
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search{
    display: flex;
    align-items: center;
    gap:20px;

}
.search input{
    color: #626262;
    padding-left: 25px;
    height:50px ;
    border-radius:40px ;
    border: none;
    outline:none ;
    font-size: 18px;
}
.search img{
    width: 30px;
    padding: 10px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;

}
.weather-icon{
    width: 150px;
    margin: 30px 0;
}
.temp{
    color: #fff;
    font-size: 80px;
    line-height: 1;


}
.location{

    color: #fff;
    font-size: 40px;
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;

}
.weather-data col{
    display: flex;
    align-items: flex-start;
    gap:12px;
    font-size: 22px;

}
.weather-data .col span{
    display: block;
    font-size: 16px;
}
.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}